<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>
    <h1>Add a New Show</h1>
    {% if messages %}
    <ul class="messages">    
            {% for message in messages %}    
                 <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
    </ul>
    {% endif %}
    <form action="/create" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="network">Network</label>
        <input type="text" name="network" id="network">
        <br>
        <label for="releaseDate"> Release Date</label>
        <input type="date" name="releaseDate" id="releaseDate">
        <br>
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>